# Imports

In [14]:
import numpy as np
import pandas_datareader.data as web
import yfinance as yf
import pandas as pd
import datetime as dt
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
%matplotlib inline
import mplfinance as mpf

# Function that Saves Stock Data to CSV

In [30]:
def save_to_csv_from_yahoo(ticker, syear, smonth, sday, eyear, emonth, eday):
    
    start = dt.datetime(syear, smonth, sday)
    end = dt.datetime(eyear, emonth, eday)

    yf.pdr_override()

    df = web.DataReader(ticker, start, end)

    df.to_csv("./files/" + ticker + ".csv")
    
    return df

# Function that Returns a Dataframe from a CSV

In [31]:
def get_df_from_csv(ticker):
    try:
        df = pd.read_csv("./files/" + ticker + ".csv")
    except FileNotFoundError:
        print("File does not exist!")
    else:
        return df

# Add Daily Return to Dataframe

In [33]:
# We calculate a percentage rate of return for each day to compare investments.
# Simple Rate of Return = (End Price - Beginning Price) / Beginning Price Or (EP / BP) - 1
def add_daily_return_to_df(df, ticker):
    df['daily_return'] = (df['Adj Close'] / df['Adj Close'].shift(1)) - 1
    df.to_csv("./files/" + ticker + ".csv")
    return df

# Returns Total Return over Time

# Matplotlib Finance

# Simpole Price Plot

# Test Functions

In [34]:
save_to_csv_from_yahoo("AMZN", 2020, 1, 1, 2021, 1, 1)

AMZN = get_df_from_csv("AMZN")

add_daily_return_to_df(AMZN, "AMZN")

AMZN

[*********************100%%**********************]  1 of 1 completed

,Date,Open,High,Low,Close,Adj Close,Volume,daily_return
0,2020-01-02,93.750000,94.900497,93.207497,94.900497,94.900497,80580000,NaN
1,2020-01-03,93.224998,94.309998,93.224998,93.748497,93.748497,75288000,-0.012139
2,2020-01-06,93.000000,95.184502,93.000000,95.143997,95.143997,81236000,0.014886
3,2020-01-07,95.224998,95.694504,94.601997,95.343002,95.343002,80898000,0.002092
4,2020-01-08,94.902000,95.550003,94.321999,94.598503,94.598503,70160000,-0.007809
...,...,...,...,...,...,...,...,...
248,2020-12-24,159.695007,160.100006,158.449997,158.634506,158.634506,29038000,-0.003949
249,2020-12-28,159.699997,165.199997,158.634506,164.197998,164.197998,113736000,0.035071
250,2020-12-29,165.496994,167.532501,164.061005,166.100006,166.100006,97458000,0.011584
251,2020-12-30,167.050003,167.104996,164.123505,164.292496,164.292496,64186000,-0.010882
252,2020-12-31,163.750000,164.145996,162.059998,162.846497,162.846497,59144000,-0.008801